<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/krithikj/ABCproject/src/test/java/org.example/FirstTest">
        <classes><class name="org.example.FirstTest">
            <methods>
            <include name="WifiSettingsName"/>
        </methods>
        </class>
        </classes>
    </test>
</suite>